<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
	<section>
		<div class="container ">
			<div class="row sdiv ">
				<div class="col-md-6 offset-md-3 border text-center bg-light socialdiv">
					<i class="fa fa-user fa-3x mt-3"></i>
					<h2>Register Here</h2>


					<th:block th:if="${session.msg}">
						<p class="text-center text-success fs-4">[[${session.msg}]]</p>
						<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

					</th:block>

					<div class="card-body ">
						<form action="saveUser" method="post">
							<div class="col-auto">

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-user"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="name"
										id="inlineFormInputGroup" placeholder="Enter Username">
								</div>
							</div>
							<div class="col-auto">

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-envelope-o"></i>
										</div>
									</div>
									<input type="email" class="form-control" name="email"
										id="inlineFormInputGroup" placeholder="Enter Email">
								</div>
							</div>

							<div class="col-auto">

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-mobile"></i>
										</div>
									</div>
									<input type="number" class="form-control" name="mobileNo"
										id="inlineFormInputGroup" placeholder="Enter number">
								</div>
							</div>

							<div class="col-auto">

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-key"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="password"
										id="inlineFormInputGroup" placeholder="Enter password">
								</div>
							</div>
							<div class="container text-center p-3">
								<button class="btn btn-success badge-pill btn-lg">Register</button>
							</div>
						</form>
					</div>

				</div>

			</div>

		</div>
	</section>
</body>
</html>